# Syntax
# Each group tag indicates the beginning of a new verification set which will be summarized and sent out in its own email.  
# Notice how information from the header can be specified again under a group tag to override the defaults.

# DASH = Don't Run
# A line that begins with a dash tells the verifier not to run the scenario, but to still include its results in the report.  
# This allows us to run and generate a quick basic report and include these results in later emails without re-running the scenarios.

# ASTERISK = Expected Failure (Run Yellow)
# A line that begins with an asterisk tells the verifier that failure is to be expected from the scenario.  
# These scenarios will not be run and will be placed in the separate yellow block of the email.

ReportName=Scenario Verification Test Summary
ExecuteTests=true
PlotResults=true
PercentDifference=2.0
Threads=-1

# These are used for testing and utilizing serialization
# Replace patient file with it's associated patient state, if scenario has no conditions
#UseStates=true
# AutoSerialize = Directory,Period(in seconds, 0 turns off constant saving),TimeStampPeriods,AfterActions,Reload
#AutoSerialization=./states/testing/,5,Off,On,On

Executor=com.kitware.physiology.pulse.testing.ScenarioTestDriver

Macro ScenarioTest=ScenarioTestDriver FastPlot Baseline=scenarios/ Computed=./test_results/scenarios

@group

patient/BasicStandard.json = ScenarioTest

@group Patient
patient/AirwayObstructionVaried.json = ScenarioTest
patient/AcuteStress.json = ScenarioTest
patient/AsthmaAttackModerateAcute.json = ScenarioTest
patient/AsthmaAttackSevereAcute.json = ScenarioTest
patient/AsthmaAttackLifeThreateningAcute.json = ScenarioTest
patient/Anemia30.json = ScenarioTest
patient/ApneaVaried.json = ScenarioTest
patient/Baroreceptors.json = ScenarioTest
patient/BrainInjury.json = ScenarioTest
patient/BronchoConstrictionVaried.json = ScenarioTest
patient/COPDSevereEmphysema.json = ScenarioTest
patient/COPDSevereBronchitis.json = ScenarioTest
patient/Cough.json = ScenarioTest
patient/CPRForceScaleMax.json = ScenarioTest
patient/CPRForceScale.json = ScenarioTest
patient/CPRForce.json = ScenarioTest
patient/EffusionCondition.json = ScenarioTest
patient/EffusionConditionPlus.json = ScenarioTest
patient/EsophagealIntubation.json = ScenarioTest
patient/HemorrhageClass2BrachialArtery.json = ScenarioTest
patient/HemorrhageClass2FemoralArtery.json = ScenarioTest
patient/HemorrhageClass2InternalMultiple.json = ScenarioTest
patient/HemorrhageClass2InternalSpleen.json = ScenarioTest
patient/HemorrhageClass2NoFluid.json = ScenarioTest
patient/HemorrhageClass2Saline.json = ScenarioTest
patient/HemorrhageClass4NoFluid.json = ScenarioTest
patient/HemorrhageCM1.json = ScenarioTest
patient/HemorrhageCM2.json = ScenarioTest
patient/Inhaler_OneActuation.json = ScenarioTest
patient/Inhaler_OneActuationWithSpacer.json = ScenarioTest
patient/Inhaler_OneActuationIncorrectUse.json = ScenarioTest
patient/Inhaler_OneActuationWithSpacerIncorrectUse.json = ScenarioTest
patient/Inhaler_TwoActuations.json = ScenarioTest
patient/LobarPneumoniaModerateBothLungs.json = ScenarioTest
patient/LobarPneumoniaSevereLeftLobe.json = ScenarioTest
patient/LobarPneumoniaSevereRightLung.json = ScenarioTest
patient/MainstemIntubation.json = ScenarioTest
patient/RenalStenosisSevereBilateral.json = ScenarioTest
patient/RenalStenosisModerateUnilateral.json = ScenarioTest
patient/SinusBradycardia.json = ScenarioTest
patient/SinusTachycardia.json = ScenarioTest
patient/TensionPneumothoraxBilateral.json = ScenarioTest
patient/TensionPneumothoraxClosedVaried.json = ScenarioTest
patient/TensionPneumothoraxOpenVaried.json = ScenarioTest
patient/VentricularSystolicDysfunction.json = ScenarioTest

@group EnergyEnvironment
energyenvironment/CarbonMonoxideExtreme.json = ScenarioTest
energyenvironment/CarbonMonoxideThreshold.json = ScenarioTest
#energyEnvironment/CarbonMonoxideThresholdLong.json = ScenarioTest
energyenvironment/ColdWaterSubmersion.json = ScenarioTest
energyenvironment/ExerciseStages.json = ScenarioTest
energyenvironment/ExerciseVO2max.json = ScenarioTest
energyenvironment/FireFighter.json = ScenarioTest
energyenvironment/HighAltitudeEnvironmentChange.json = ScenarioTest
energyenvironment/HighAltitudeEnvironmentFileChange.json = ScenarioTest
energyenvironment/InitialHighAltitudeEnvironmentFile.json = ScenarioTest
energyenvironment/InitialHighAltitudeEnvironmentState.json = ScenarioTest
energyenvironment/ThermalApplication.json = ScenarioTest

@group Anesthesia Machine
anesthesiamachine/EndotrachealTubeLeakVaried.json = ScenarioTest
anesthesiamachine/ExpiratoryValveObstructionVaried.json = ScenarioTest
anesthesiamachine/ExpiratoryValveLeakVaried.json = ScenarioTest
anesthesiamachine/InspiratoryValveObstructionVaried.json = ScenarioTest
anesthesiamachine/InspiratoryValveLeakVaried.json = ScenarioTest
anesthesiamachine/MaskLeakVaried.json = ScenarioTest
anesthesiamachine/OxygenTankPressureLoss.json = ScenarioTest
anesthesiamachine/OxygenWallPressureLoss.json = ScenarioTest
anesthesiamachine/SodaLimeFailureVaried.json = ScenarioTest
anesthesiamachine/VaporizerFailureVaried.json = ScenarioTest
anesthesiamachine/VentilatorPressureLossVaried.json = ScenarioTest
anesthesiamachine/YpieceDisconnectVaried.json = ScenarioTest

@group Drugs
drug/Albuterol.json = ScenarioTest
drug/Desflurane.json = ScenarioTest
drug/Epinephrine.json = ScenarioTest
drug/Fentanyl.json = ScenarioTest
drug/Furosemide.json = ScenarioTest
drug/Ketamine.json = ScenarioTest
drug/Midazolam.json = ScenarioTest
drug/Morphine.json = ScenarioTest
drug/Naloxone.json = ScenarioTest
drug/Norepinephrine.json = ScenarioTest
drug/NorepinephrineBolus.json = ScenarioTest
drug/Pralidoxime.json = ScenarioTest
drug/Prednisone.json = ScenarioTest
drug/Propofol.json = ScenarioTest
drug/Rocuronium.json = ScenarioTest
drug/Succinylcholine.json = ScenarioTest

@group ConsumeMeal
#consumeMeal/ConsumeMeal2hrAgo.json = ScenarioTest
#consumeMeal/Dehydration.json = ScenarioTest
#consumeMeal/Peronnet300mL.json = ScenarioTest
#consumeMeal/RunningOnEmpty.json = ScenarioTest
#consumeMeal/SalineIngestion.json = ScenarioTest
#consumeMeal/Starvation.json = ScenarioTest
#consumeMeal/WaterIngestion.json = ScenarioTest

@group Combined
combined/Gus.json = ScenarioTest
combined/Joel.json = ScenarioTest
combined/Hassan.json = ScenarioTest
combined/Cynthia.json = ScenarioTest
combined/Nathan.json = ScenarioTest

@group Showcase
showcase/CombatMultitrauma.json = ScenarioTest
showcase/AsthmaAttack.json = ScenarioTest
showcase/EnvironmentExposure.json = ScenarioTest
showcase/HeatStroke.json = ScenarioTest

@group Miscellaneous
#miscellaneous/12hrFast.json = ScenarioTest
#miscellaneous/12hrFastAsCondition.json = ScenarioTest
miscellaneous/AirwayObstructionDeath.json = ScenarioTest
miscellaneous/AnesthesiaMachineVariedConfiguration.json = ScenarioTest
miscellaneous/AsthmaAttackDeath.json = ScenarioTest
miscellaneous/BleedToDeath.json = ScenarioTest
miscellaneous/Comprehensive.json = ScenarioTest
#miscellaneous/FullDay.json = ScenarioTest
miscellaneous/HouseFireSmoke.json = ScenarioTest
miscellaneous/ImpairedAlveolarExchangeFraction.json = ScenarioTest
miscellaneous/ImpairedAlveolarExchangeSurfaceArea.json = ScenarioTest
miscellaneous/MechanicalVentilation.json = ScenarioTest
miscellaneous/MultiDrug.json = ScenarioTest
miscellaneous/TBIandDrugs.json = ScenarioTest

@group Compartments
#compartments/UserSpecific.json = ScenarioTest
compartments/AnesthesiaMachineCompartments.json = ScenarioTest
compartments/ChymeCompartments.json = ScenarioTest
compartments/LymphCompartments.json = ScenarioTest
compartments/PulmonaryCompartments.json = ScenarioTest
compartments/TemperatureCompartments.json = ScenarioTest
compartments/TissueCompartments.json = ScenarioTest
compartments/UrineCompartments.json = ScenarioTest
compartments/VascularCompartments.json = ScenarioTest