# These are eclipse build dirs, if you use that sort of thing
/cdm/build/
/engine/build/
/schema/build/
/schema/bind/
/test/build/
/sdk/howto/build/
# The IntelliJ build dir
/.idea/out


# This is for the C# projects
/.vs/

/schema/bin/
/schema/obj/

/cdm/csharp/bin
/cdm/csharp/obj

/engine/csharp/.vs
/engine/csharp/bin
/engine/csharp/obj
/engine/csharp/HowToCSharp.csproj.user
/engine/csharp/HowToCSharp.sdf
/engine/csharp/*.db
/engine/csharp/*.opendb

/sdk/howto/csharp/clr/.vs
/sdk/howto/csharp/clr/bin
/sdk/howto/csharp/clr/obj
/sdk/howto/csharp/clr/HowToCSharp.csproj.user
/sdk/howto/csharp/clr/HowToCSharp.sdf
/sdk/howto/csharp/clr/*.db
/sdk/howto/csharp/clr/*.opendb

/sdk/howto/csharp/c/.vs
/sdk/howto/csharp/c/bin
/sdk/howto/csharp/c/obj
/sdk/howto/csharp/c/HowToCSharp.csproj.user
/sdk/howto/csharp/c/HowToCSharp.sdf
/sdk/howto/csharp/c/*.db
/sdk/howto/csharp/c/*.opendb
