# These are eclipse build dirs, if you use that sort of thing
/cdm/build/
/engine/build/
/schema/build/
/schema/bind/
/test/build/
/sdk/howto/build/
# The IntelliJ build dir
/.idea/out

# Auto concat'd files for doxygen html
/docs/Doxygen/panel_header.html
/docs/Doxygen/panel_footer.html

# This is for the MSVC projects
/.vs/

/schema/bin/
/schema/obj/

/cdm/csharp/bin
/cdm/csharp/obj

/engine/csharp/.vs
/engine/csharp/bin
/engine/csharp/obj
/engine/csharp/HowToCSharp.csproj.user
/engine/csharp/HowToCSharp.sdf
/engine/csharp/*.db
/engine/csharp/*.opendb

/sdk/howto/csharp/.vs
/sdk/howto/csharp/bin
/sdk/howto/csharp/obj
/sdk/howto/csharp/HowToCSharp.csproj.user
/sdk/howto/csharp/HowToCSharp.sdf
/sdk/howto/csharp/*.db
/sdk/howto/csharp/*.opendb

/sdk/howto/clr/.vs
/sdk/howto/clr/bin
/sdk/howto/clr/obj
/sdk/howto/clr/HowToCSharp.csproj.user
/sdk/howto/clr/HowToCSharp.sdf
/sdk/howto/clr/*.db
/sdk/howto/clr/*.opendb
